@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;300;400;600;800&display=swap');

:root {
    --gradient-background: linear-gradient(to right, rgb(52,9,58) 0%, rgb(185,32,229) 76%, rgb(154,28,191) 100%);
    --color: rgb(255,255,255)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 100%;
    background-color: lightgrey;
}

/* navbar */

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: var(--gradient-background);
    z-index: 1;
}

nav .navbar .pica img {
    width: 45px;
    
}

nav .navbar {
    height: 100%;
    max-width: 100%;
    padding: 0 25px;
    margin-inline-start: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}


.links {
    display: block;
    position: fixed;
    background: linear-gradient(to bottom, rgb(52,9,58) 0%, rgb(185,32,229) 76%, rgb(154,28,191) 100%);
    
    top: 70px;
    left: 0px;
    padding: 5px 10px;
    border-radius: 0 0 15px 15px;
    max-width: 100%;
    width: 100%;
    /*align-items: center; */
    
}

.links a:hover {
    border-bottom: 1px solid var(--color);
}

.logo {
    max-width: 100%;
    padding: 10px;
    width: 280px; /* voor tekst naast logo */
    position: absolute;
    left: 44px;
    z-index: 42342423;
    /*text-shadow: 0px 1px 0 black, -1px 0px 0 black, 0px -1px 0 black, 2px 2px 2px rgba(0,0,0,0);*/
}

.logo::first-letter {
    text-shadow: 0px 1px 0 black, -1px 0px 0 black, 0px -1px 0 black, 2px 2px 2px rgba(0,0,0,0);
}
.logo a {
    color: var(--color);
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
}

.logo a {
    font-size: 26px;
}

.links li {
    list-style: none;
    padding: 15px;
    position: relative;
    /*display: flex; */
    align-items: center;
    
}
 
.links li a {
    color: var(--color);
    text-decoration: none;
    position: relative;
    /* bijv left: 10px verschuift de links */
}
.active {
    border-bottom: 1px solid white;
}

/* pijl animatie */
.dropdown {
    color: var(--color);
    display: flex;
    position: absolute;
    left: 85px;
    top: 15px;
    width: fit-content;
    padding-inline-start: 7px;
    transition: all 0.3s ease-in;
}

li:hover .dropdown {
    transform: rotate(180deg);
}

/* hamburger checkbox */

label {
    padding: 23px 20px;
    position: absolute;
    cursor: pointer;
    right: 30px;
    top: 15px;
    z-index: 999999999999;
    
}
  
input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    right: 0;
}
  
  img
  
label::before {
    position: absolute;
    content: "";
    width: 58px;
    height: 49px;
    top: 0;
    right: 0;
}
  

.links {
    visibility: hidden;
}

input[type="checkbox"]:checked ~ .links {
    visibility: visible;
}

label img {
    width: 35px;
    filter: invert(100%);
    position: absolute;
    right: 0;
    top: 0;
    opacity: 100;
    z-index: 9999999;
}



/* sub menu */
.sub-menu {
    height: 0px; 
    overflow: hidden; 
    background-color: rgb(47,0,58);

    
  }

  li:focus-within .sub-menu {
    height: 150px;
    /*position: absolute; */
    /*z-index: 1; */
    /*top:-70px;
    left: 100px; */
    padding: 5px 5px;
    border-radius: 15px; 
    margin-top: 10px;
    
    
  }

.sub-menu li {
    padding: 15px 30px;
    border-radius: 15px;
}

.sub-menu li a {
    font-size: 15px;
    font-weight: 300;
}

.sub-menu a:hover {
    border-bottom: 1px solid var(--color);
}

/* Animatie */

.onderbalk {
    background: linear-gradient(to left, rgb(47,0,58) 0%, rgb(206,36,255) 100%, rgb(154,28,191) 100%);
    width: 100%;
    height: 4px;
    position: absolute;
    top: 55px;
    
} 

/* Footer */

footer {
    background: var(--gradient-background);
    margin-block-start: 3px;
    color: var(--color);
    padding: 12px 12px;
    z-index: 1;
    width: 100%;
}

.contact {
    display: flex;
    justify-content: flex-end;
    
}

.var2 {
    margin: auto;
}

.var3  {
    text-align: right;
    margin: auto;
}

footer a {
    text-decoration: none;
    color: (var(--color));
}

footer p {
    font-size: 20px;
    font-weight: 600;
    text-transform:lowercase;
}

footer img {
    width: 17%;
    padding: 4px;
    filter: invert(100);
}


/* media queries */
@media (focus:none) {}


@media only screen and (min-width:760px) {
    
    nav {
        display: flex;
        flex-direction: row;

    }
    nav .navbar {
        width: 100%;
        max-width: 100%;
        padding: 0 35px;
        margin-inline-start: 0;
        display: flex;
    }


    nav .navbar .links {
    display: flex;
    position: inherit;
    background-color: transparent;
    background: transparent;
    top: auto;
    left: auto;
    padding: 5px 10px;
    border-radius: 0;
    max-width: 100%;
    justify-content: flex-end;
    
    
    
    }

    .logo {
        left: 53px;
    }

    .links li {
        display: flex;
    }
    /* hamburger checkbox */
    label {
        cursor: default;
    }
    .links {
        visibility:unset;
    }
    
    label img {
        opacity: 0;
    }

    /*arrow animatie*/
    .dropdown {
        position: relative;
        width: fit-content;
        top: 0;
        left: 0;
    }
    /* sub menu */

    .sub-menu {
        background: linear-gradient(to bottom, rgb(52,9,58) 0%, rgb(185,32,229) 76%, rgb(154,28,191) 100%); 
        position: absolute;
        top: 47px;
        left: 5px;
        padding: 5px 5px;
        line-height: 16px;
        flex-direction: column;
        border-radius: 0 0 15px 15px;
        display: none;
        overflow: hidden;
        
}

li:focus-within .sub-menu {
    height: 150px;
    padding: 5px 5px;
    border-radius: 0 0 15px 15px; 
    margin-top: 0px; 
    display: none;
}

li:hover  .sub-menu {
    display: flex;
}
.sub-menu {
    height: 150px;
  }

.sub-menu li:hover {
    background-color: rgba(0,0,0,.2);
}

.sub-menu a:hover {
    border-bottom: 1px solid var(--color);
} 



/* Footer */

footer {
    display: flex;
    justify-content: flex-end;
}
.contact {
    justify-content:flex-end;
    align-items: flex-start;
    border-left: 2px solid white;
    padding-left: 10px;
    width: 40%;
    
}
footer p {
    font-size: 20px;
}

footer img {
    width: 18%;
}

}

@media only screen and (min-width:1024px) {
    .links {
        font-size: 1.1em;
    }

}

@media only screen and (min-width:1280px) {
    .links {
        font-size: 1.2em;
    }

    .sub-menu {
        top: 49px;
    }
    

}